<mat-card class="form-card" [formGroup]="signUpForm">
    <mat-card-title>Inscrivez-Vous :)</mat-card-title>

    <mat-form-field appearance="fill">
        <mat-label>Nom d'utilisateur</mat-label>
        <input type="text" matInput formControlName="username">
        <mat-error>{{ getCtrlErrorText(usernameCtrl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-error>{{ getCtrlErrorText(emailCtrl) }}</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error>{{ getCtrlErrorText(passwordCtrl) }}</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="onSubmit()"> S'inscrire </button>
</mat-card>

<div class="action-button">
    <p>Vous avez déjà un compte chez Groupomania?</p>
    <button mat-flat-button routerLink="/auth/login">Se connecter</button>
</div>