<div class="container">
    <h1>Fil d'actualité</h1>
    <mat-card class="post-card" *ngFor="let post of posts$ | async" data-aos="zoom-in-right">
        <div class="card-top">
            <div class="user">
                <div class="circle"></div>
                <small>{{ post.username }}</small>
            </div>
            <img [src]="post.image" alt="Post Image" width="150px">
        </div>
        <div class="card-bottom">
            <h3>{{post.postTitle}}</h3>
            <p class="text" *ngIf="post.postText">{{post.postText | shorten: 200 }}</p>
            <button mat-raised-button color="primary" (click)="toPostDetails(post._id)">Voir en Détail</button>
        </div>

    </mat-card>
</div>