<div class="container">
    <mat-card class="form-card" [formGroup]="postForm">
        <img [src]="imagePreview" alt="" width="50px">

        <div class="card-right">
            <div class="post-text">
                <mat-form-field appearance="fill">
                    <mat-label>Titre</mat-label>
                    <input type="text" matInput formControlName="postTitle">
                    <mat-error>Ce champs est requis</mat-error>
                </mat-form-field>
            
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea class="form-control" id="description" matInput rows="5" formControlName="postText"></textarea>
                    <mat-error>Ce champs est requis</mat-error>
                </mat-form-field>
            </div>
        
            <div class="buttons">
                <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        
            <div class="buttons">
                <button mat-flat-button color="primary" class="upload-btn" (click)="fileUpload.click()">
                    Changer l'image <mat-icon>add_photo_alternate</mat-icon>
                </button>
    
                <button mat-flat-button color="primary" (click)="onSubmitForm()" >Modifier</button> 
            </div>  
            </div>
        </div>
    
    </mat-card>
</div>
