<div class="container">
    <mat-card class="form-card" [formGroup]="postForm">
        <mat-card-title>Créez un Nouveau Post :)</mat-card-title>

        <mat-form-field appearance="outline">
            <mat-label>Titre</mat-label>
            <input type="text" matInput formControlName="postTitle" maxlength="30">
            <mat-error>Ce champs est requis</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea class="form-control" id="description" matInput rows="5" formControlName="postText"></textarea>
            <mat-error>Ce champs est requis</mat-error>
        </mat-form-field>

        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

        <button mat-flat-button color="primary" class="upload-btn" (click)="fileUpload.click()">
            Ajouter une Image <mat-icon>add_photo_alternate</mat-icon>
        </button>

        
    </mat-card>

    <mat-card class="preview-card" *ngIf="postPreview$ | async as post">
        <h2>Aperçu:</h2>
        <div class="card-top">
            <div class="user">
                <div class="circle"></div>
                <small>{{ post.username }}</small>
            </div>
            <img [src]="imagePreview">
        </div>
        <div class="card-bottom">
            <h3>{{ post.postTitle}}</h3>
            <p *ngIf="post.postText">{{ post.postText | shorten}}</p>
            <button type="submit" mat-flat-button color="primary" (click)="onSubmitForm()">Envoyer</button>
        </div>
    </mat-card>
</div>