<div class="container">
    <mat-card class="post-card" *ngIf="post$ | async as post">
        <div class="card-left">
            <img [src]="post.image" alt="Post Image" width="150px">
        </div>
    
        <div class="card-right">
            <div class="text">
                <div class="user">
                    <div class="circle"></div>
                    <small>{{ post.username }}</small>
                </div>
                <h3>{{post.postTitle}}</h3>
                <p class="post-text">{{post.postText}}</p>
            </div>
    
            <mat-card-actions>
                <button mat-button color="primary" (click)="onClickLike(post._id)">{{ buttonText }}</button><span>{{ numberOfLikes }}</span>
                <ng-container *ngIf="(isAuthor$ | async) || (isAdmin$ | async)">
                    <button mat-button color="primary" (click)="onEdit(post._id)" >Modify</button>
                    <button mat-button color="primary" type="button" (click)="onDelete(post._id)">Delete</button>
                </ng-container>
            </mat-card-actions>
        </div>
    
    </mat-card>
</div>
