<mat-card class="form-card" [formGroup]="loginForm">
    <mat-card-title>Connectez-Vous</mat-card-title>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-error>{{ getCtrlErrorText(emailCtrl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error>{{ getCtrlErrorText(passwordCtrl) }}</mat-error>
    </mat-form-field>

    <button class="login-button" mat-flat-button (click)="onSubmit()"> Se Connecter </button>
</mat-card>

<p>Pas encore de compte chez Groupomania?</p>
<button mat-flat-button routerLink="/auth/signup">S'inscrire</button>
