mat-card {
    display: flex;
    flex-direction: column;
    background-color: #0b0b0c;
    color: white;
    font-family: 'Lato';
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(35, 35, 35);
}

.login-button {
    background-color: rgb(109, 83, 83);
    color: white;
}

mat-label {
    color: rgb(109, 83, 83);
}


mat-card-title {
    text-align: center;
    margin-bottom: 2rem;
}